DB_NAME=				"asdf"
DB_USER=				"asdf"
DB_PASSWORD=			"asdf"
DB_HOST=				"asdf"
DB_CHARSET=				"asdf"
DB_COLLATE=				""

AUTH_KEY=				"asdf"
SECURE_AUTH_KEY=		"asdf"
LOGGED_IN_KEY=			"asdf"
NONCE_KEY= 				"asdf"
AUTH_SALT=				"asdf"
SECURE_AUTH_SALT=		"asdf"
LOGGED_IN_SALT= 		"asdf"
NONCE_SALT=				"asdf"

WP_DEBUG=				true
WP_DEBUG_LOG=			"../storage/wp_errors.log"
WP_HOME=				"https://dev.steelchief.com.au"
WP_SITEURL=				"https://dev.steelchief.com.au"

ZOHO_CLIENT_ID=			"asdf"
ZOHO_CLIENT_SECRET=		"asdf"
ZOHO_REDIRECT_URI=
ZOHO_EMAIL_ID=
ZOHO_TOKEN_FOLDER=		"secret/"
ZOHO_LOG_FOLDER=		"storage/"

STEELCHIEF_LOG_PATH=	"storage/SteelChief.log"
STEELCHIEF_DATA_FILE=	"SteelChief_Distributors2020-12-15_10_42_46.tab.csv"
DEALER_IMAGE_PATH=		"wp-content/themes/steelchief/img/dealer-images/"

MAPQUEST_API_KEY=
MAPQUEST_ADDRESS_URL=	"http://open.mapquestapi.com/geocoding/v1/address"
MAPQUEST_ROUTE_MATRIX_URL="http://open.mapquestapi.com/directions/v2/routematrix"

SMTP_HOST				"smtp.gmail.com"
SMTP_PORT				"587"
SMTP_SECURE				"tls"
SMTP_AUTH				"true"
SMTP_USERNAME			"noreply@steelchief.com.au"
SMTP_PASSWORD			"thepassword"
SMTP_FROMEMAIL			"noreply@steelchief.com.au"
SMTP_FROMNAME			"SteelChief Website"