/*------------------------------------
  File for your custom SCSS style
------------------------------------*/

.icon-container svg {
  width: 24px;  /* or whatever size you desire */
  height: 24px;
  display: block; /* this helps remove any potential unwanted whitespace around the SVG */
}


.swiper-wrapper {
  transition-timing-function: linear !important
}

.swiper-slide{
  height: auto;
}

#wpdcom{
  max-width: 100% !important;
}


.swiperBlogSnippets{


  
}

.swiper-button-disabled{
  display:none;   
}


.tempHide{
  display:none
}



.bg-light-green {
  background-color: #D6F3DF;
}

.bg-light-purple {
  background-color: #D1D4FC;
}

.bg-light-blue {
  background-color: #DEEAFD;
}

.bg-light-green, .bg-light-purple, .bg-light-blue {
  border-radius: .25rem; /* Optional: to match Bootstrap card border radius */
  padding: 1rem; /* Optional: to add some padding */
  margin-bottom: 1rem; /* Optional: to add some space between cards */
}


.borderless {
  border: none;
}


.largeSvgIcon svg{
width:14rem;
height:14rem;

}


